# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
snippets.txt
core/migrations/0001_initial.py

# Environment variables
.env
.env.*

# Virtual environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
