{% extends "admin/base.html" %}

{% block title %}
Shivtej Real Estate Admin
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        Shivtej Real Estate
    </a>
</h1>
{% endblock %}




{% block footer %}
<div class="footer" style="text-align:center; padding:10px; font-size:12px; color:#666;">
    <p>
        Developed & maintained by Pratik Ingle & Mihir Dolas
        <br>
        ☕ Powered by chai, samosa, and questionable life choices
    </p>
</div>
{% endblock %}
