<h2>Sign Up</h2>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    <input type = "email" name="email" placeholder="email" required>
    <input type="tel" name="PhoneNo" placeholder="PhoneNo" pattern="[0-9]{10}" required>
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Sign Up</button>
</form>
